<h1>商品上架</h1>
<hr />


<div class="container-fluid">
    <div class="container">
        <form action="~/Product/Upload" method="post" enctype="multipart/form-data">
            <div>
                <label class="form-label">課程名稱</label>
                <input class="form-control" type="text" name="Name" id="inp1" />
            </div>

            <div>
                <label class="form-label">課程訂價</label>
                <input class="form-control" type="number" name="Price" />
            </div>

            <div>
                <label class="form-label">課程類別</label>
                <input class="form-control" type="text" name="Type" />
            </div>

            <div>
                <label class="form-label">課程區域</label>
                <input class="form-control" type="text" name="Location" />
            </div>

            <div>
                <label class="form-label">課程簡述</label>
                <textarea class="form-control" name="Description_S"></textarea>
            </div>

            <div>
                <label class="form-label">課程詳述</label>
                <textarea class="form-control" name="Description_L" rows="10" cols="20"></textarea>
            </div>

            <div>
                <label class="form-label">課程詳述1</label>
                <textarea class="form-control" name="Description_L_1" rows="10" cols="20"></textarea>
            </div>

            <div>
                <label class="form-label">課程詳述2</label>
                <textarea class="form-control" name="Description_L_2" rows="10" cols="20"></textarea>
            </div>

            <div>
                <label class="form-label">課程詳述3</label>
                <textarea class="form-control" name="Description_L_3" rows="10" cols="20"></textarea>
            </div>

            <div>
                <label class="form-label">課程詳述4</label>
                <textarea class="form-control" name="Description_L_4" rows="10" cols="20"></textarea>
            </div>

            <div>
                <label class="form-label">課程詳述5</label>
                <textarea class="form-control" name="Description_L_5" rows="10" cols="20"></textarea>
            </div>

            <div>
                <label class="col-form-label">活動開始時間</label>
                <input class="form-control" type="datetime-local" name="StartDate" />
            </div>

            <div>
                <label class="col-form-label">活動結束時間</label>
                <input class="form-control" type="datetime-local" name="EndDate" />
            </div>

            <div>
                <label class="form-label">是否上架</label>
                <input type="checkbox" name="IsSold" value="true" />
            </div>

            <div>
                <label class="form-label">課程預覽圖片</label>
                <input class="form-control" type="file" name="Pic" multiple="multiple" />
            </div>

            <button type="submit" class="btn btn-primary">上架</button>
        </form>
    </div>
</div>