<div id="orderlistPanel">
    <h1>訂單詳情</h1>
    <div>收件人姓名: </div>
    <div>收件人地址: </div>
    <div>連絡電話: </div>
    <div>連絡信箱: </div>
    <div>訂單詳情:</div>
    <table>
        <tr>
            <td>商品名稱</td>
            <td>商品數量</td>
            <td>小計</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <div>
        <button>去付款</button>
    </div>
</div>

<script>
    var app = new Vue({
        el: '#orderlistPanel',
        data: {
            orderDetail: [],
        },
        mounted: function () {
            //抓要貼的資料
        },
        methods: {
            goPay: function () {
                fetch('');
            }
        }
    })
</script>